*,
*::before,
*::after{
    /* Need to find a font family for everything */

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root{
    --minimum_width_left_section: 500px;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}

body{
    --Min_width: 100vw;
    min-width: var(--Min_width);
    height: 100vh;
    display: flex;
}
section{
    border: solid red 2px;

}
.Logo-Title-Section{
    min-width: var(--minimum_width_left_section);
    background-image: url('./images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.Logo-title{
    background-color: black;
     min-width: var(--minimum_width_left_section); 
     height: 200px;
     font-family: "Lobster", sans-serif;
    font-size: 5rem;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Logo-footer a{
    color: white;
     min-width: var(--minimum_width_left_section);
}





