*,
*::before,
*::after{
    /* Need to find a font family for everything */


    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


:root{
    --minimum_width_left_section: 30%;
    --Min_width: 100vw;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}


body{
    min-width: var(--Min_width);
    height: 100vh;
    display: flex;
    
}
/* section{
    border: solid red 2px;


} */
.Logo-Title-Section{
    width: var(--minimum_width_left_section);
    background-image: url('./images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    color: white;


    display: flex;
    flex-direction: column;
    align-items: center;


    position: relative;
   
}
.Logo-info{
    background-color: black;
     width: 100%;
     height: 200px;
     font-family: "Lobster", sans-serif;
    font-size: 6rem;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;




    /* Flex positioning wasnt ideal, so used positioning to fix it */
    position: absolute;
    top: 250px;


   
}
.Logo-title{
    position: relative;
    left: 50px;
   
}


.Logo-title::before{
    content: url('./images/odin-lined.png');
    transform: scale(.4);
    display: inline-block;
    position: absolute;
    /* Had to use absolute on image, because it would shift text out of place */


    margin-right: 20px;
    bottom: -220px;
    right: 85px;
}
.Logo-footer{
    font-size: .7em;


    /* Using flex wasnt getting the text where I wanted so resorted to positioning */
    position: absolute;
    bottom: 0px;
}


.Logo-footer a{
    color: white;
     min-width: var(--minimum_width_left_section);


     
     
}


.Login-Section{


    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* this color fits better for the background of the whole div instead of the form */
    background-color: whitesmoke;

    /* border: 5px solid blue; */


}

.Description{
    width: 82ch;
    font-size: 1.5rem;
    margin: 0px auto 0px 30px;

    /* border: solid 2px red; */
}

.Description h1{

    margin-bottom: 20px;
}



fieldset{
    padding: 0px 30px;
    background-color: white;
    
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;


}

fieldset p{
    padding: 5px 0px;
    width: 50vw;
    font-weight: bolder;
    font-size: 2rem;
    margin: 20px 0px 20px 0px;
    /* border: solid 2px red; */
}

fieldset div{

    /* border: solid 1px red; */
    min-width: 1050px;
}


label{


    width: 400px;
    /* margin-right: 10px; */
   
    display: inline-block;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    /* border: solid 2px red; */
}

input[type='text'],
input[type = 'email'],
input[type = 'password']{
    margin-bottom: 15px;
    height: 35px;
    width: 350px;

    margin-right: 50px;

 


}
input[type='text']:focus,
input[type = 'email']:focus,
input[type = 'password']:focus{
    border: 4px solid blue;

    /* I got the box shadow from the internet, but I think RGB also does the same */
    box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.40);



}

input[type='password']:invalid,
input[type='email']:invalid{

    border: 2px solid red;
}


button{
    background-color: #596D48;
    width: 200px;
     height: 60px;
     border-radius: 5px;
     margin-top: 30px;
     margin-left: 25px;

     color: white;
     font-size: 1.2rem;
     font-weight: bold;

}

.returning-user{

    margin: 30px auto 0px 30px;
    font-size: 1.3rem;
}

.returning-user a{
    text-decoration: none;
    color: #596D48;
    font-weight: bold;

}


input[type='password']:valid{

border: 2px solid green;

}

